version: 1
interactions:
- request:
    method: POST
    uri: https://api.amazon.com/auth/o2/token
    body: null
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: '{"access_token": "Atza|test", "token_type": "bearer", "expires_in":
        3600}'
- request:
    method: POST
    uri: https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports
    body: null
    headers: {}
  response:
    status:
      code: 202
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: '{"reportId": "rep-orders"}'
- request:
    method: GET
    uri: https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports/rep-orders
    body: null
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: '{"reportId": "rep-orders", "processingStatus": "IN_QUEUE"}'
- request:
    method: GET
    uri: https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/reports/rep-orders
    body: null
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: '{"reportId": "rep-orders", "processingStatus": "DONE", "reportDocumentId":
        "doc-orders"}'
- request:
    method: GET
    uri: https://sellingpartnerapi-na.amazon.com/reports/2021-06-30/documents/doc-orders
    body: null
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: '{"reportDocumentId": "doc-orders", "url": "https://tortuga-prod-na.s3.amazonaws.com/report-doc-1"}'
- request:
    method: GET
    uri: https://tortuga-prod-na.s3.amazonaws.com/report-doc-1
    body: null
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      string: "amazon-order-id\tmerchant-order-id\tpurchase-date\tlast-updated-date\t\
        order-status\tfulfillment-channel\tsales-channel\tsku\tasin\titem-status\t\
        quantity\tcurrency\titem-price\n111-1\t\t2026-09-01T10:00:00+00:00\t\tShipped\t\
        AFN\tAmazon.com\tCND-VAN-200\tB0VAN20000\tShipped\t2\tUSD\t28.00\n111-2\t\t\
        2026-09-01T18:30:00+00:00\t\tShipped\tAFN\tAmazon.com\tCND-VAN-200\tB0VAN20000\t\
        Shipped\t1\tUSD\t14.00\n111-3\t\t2026-09-02T09:00:00+00:00\t\tCancelled\t\
        AFN\tAmazon.com\tOUD-10\tB0OUD10000\tCancelled\t1\tUSD\t18.00\n111-4\t\t2026-09-02T12:00:00+00:00\t\
        \tPending\tAFN\tAmazon.com\tOUD-10\tB0OUD10000\tPending\t3\tUSD\t54.00\n111-5\t\
        \t2026-09-03T12:00:00+00:00\t\tUnshipped\tMFN\tAmazon.com\tCND-VAN-400\tB0VAN40000\t\
        Unshipped\t1\tUSD\t24.00"
