version: 1
interactions:
- request:
    method: POST
    uri: https://demo-candle.myshopify.com/admin/api/2025-07/graphql.json
    body: <graphql>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: '{"data": {"products": {"edges": [{"node": {"id": "gid://shopify/Product/1",
        "title": "Vanilla Candle", "productType": "Candles", "status": "ACTIVE", "variants":
        {"edges": [{"node": {"id": "gid://shopify/ProductVariant/101", "sku": "CND-VAN-200",
        "title": "200g", "price": "14.00", "inventoryItem": {"id": "gid://shopify/InventoryItem/1101",
        "unitCost": {"amount": "4.20"}}}}, {"node": {"id": "gid://shopify/ProductVariant/102",
        "sku": "CND-VAN-400", "title": "400g", "price": "24.00", "inventoryItem":
        {"id": "gid://shopify/InventoryItem/1102", "unitCost": {"amount": "7.50"}}}}]}}},
        {"node": {"id": "gid://shopify/Product/2", "title": "Oud Oil 10ml", "productType":
        "Perfume Oils", "status": "ACTIVE", "variants": {"edges": [{"node": {"id":
        "gid://shopify/ProductVariant/201", "sku": "", "title": "Default Title", "price":
        "18.00", "inventoryItem": {"id": "gid://shopify/InventoryItem/1201", "unitCost":
        null}}}]}}}], "pageInfo": {"hasNextPage": true, "endCursor": "c1"}}}}'
[...]
- request:
    method: POST
    uri: https://demo-candle.myshopify.com/admin/api/2025-07/graphql.json
    body: <graphql>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: '{"data": {"orders": {"edges": [{"node": {"id": "gid://shopify/Order/5001",
        "createdAt": "2026-09-01T10:00:00Z", "cancelledAt": null, "test": false, "lineItems":
        {"edges": [{"node": {"quantity": 2, "variant": {"id": "gid://shopify/ProductVariant/101",
        "sku": "CND-VAN-200"}, "discountedTotalSet": {"shopMoney": {"amount": "28.00"}}}}]}}},
        {"node": {"id": "gid://shopify/Order/5002", "createdAt": "2026-09-01T15:30:00Z",
        "cancelledAt": null, "test": false, "lineItems": {"edges": [{"node": {"quantity":
        1, "variant": {"id": "gid://shopify/ProductVariant/101", "sku": "CND-VAN-200"},
        "discountedTotalSet": {"shopMoney": {"amount": "12.60"}}}}, {"node": {"quantity":
        3, "variant": {"id": "gid://shopify/ProductVariant/201", "sku": ""}, "discountedTotalSet":
        {"shopMoney": {"amount": "54.00"}}}}]}}}, {"node": {"id": "gid://shopify/Order/5003",
        "createdAt": "2026-09-02T09:00:00Z", "cancelledAt": null, "test": false, "lineItems":
        {"edges": [{"node": {"quantity": 1, "variant": {"id": "gid://shopify/ProductVariant/102",
        "sku": "CND-VAN-400"}, "discountedTotalSet": {"shopMoney": {"amount": "24.00"}}}}]}}},
        {"node": {"id": "gid://shopify/Order/5004", "createdAt": "2026-09-02T11:00:00Z",
        "cancelledAt": "2026-09-02T12:00:00Z", "test": false, "lineItems": {"edges":
        [{"node": {"quantity": 5, "variant": {"id": "gid://shopify/ProductVariant/101",
        "sku": "CND-VAN-200"}, "discountedTotalSet": {"shopMoney": {"amount": "70.00"}}}}]}}}],
        "pageInfo": {"hasNextPage": true, "endCursor": "o1"}}}}'
[...]
- request:
    method: POST
    uri: https://demo-candle.myshopify.com/admin/api/2025-07/graphql.json
    body: <graphql>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: '{"data": {"inventoryItems": {"edges": [{"node": {"id": "gid://shopify/InventoryItem/1101",
        "sku": "CND-VAN-200", "variant": {"id": "gid://shopify/ProductVariant/101"},
        "inventoryLevels": {"edges": [{"node": {"location": {"id": "gid://shopify/Location/1",
        "name": "Main Warehouse"}, "quantities": [{"name": "available", "quantity":
        120}, {"name": "incoming", "quantity": 0}]}}, {"node": {"location": {"id":
        "gid://shopify/Location/2", "name": "FBA US"}, "quantities": [{"name": "available",
        "quantity": 40}, {"name": "incoming", "quantity": 100}]}}]}}}, {"node": {"id":
        "gid://shopify/InventoryItem/1102", "sku": "CND-VAN-400", "variant": {"id":
        "gid://shopify/ProductVariant/102"}, "inventoryLevels": {"edges": [{"node":
        {"location": {"id": "gid://shopify/Location/1", "name": "Main Warehouse"},
        "quantities": [{"name": "available", "quantity": 35}, {"name": "incoming",
        "quantity": 0}]}}]}}}, {"node": {"id": "gid://shopify/InventoryItem/1201",
        "sku": "", "variant": {"id": "gid://shopify/ProductVariant/201"}, "inventoryLevels":
        {"edges": [{"node": {"location": {"id": "gid://shopify/Location/1", "name":
        "Main Warehouse"}, "quantities": [{"name": "available", "quantity": 300},
        {"name": "incoming", "quantity": 0}]}}]}}}, {"node": {"id": "gid://shopify/InventoryItem/1301",
        "sku": "GFT-DISC", "variant": {"id": "gid://shopify/ProductVariant/301"},
        "inventoryLevels": {"edges": [{"node": {"location": {"id": "gid://shopify/Location/1",
        "name": "Main Warehouse"}, "quantities": [{"name": "available", "quantity":
        18}, {"name": "incoming", "quantity": 50}]}}]}}}], "pageInfo": {"hasNextPage":
        false, "endCursor": null}}}}'
