version: 1
interactions:
- request:
    method: POST
    uri: https://demo-candle.myshopify.com/admin/api/2025-07/graphql.json
    body: <graphql>
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: '{"data": {"products": {"edges": [{"node": {"id": "gid://shopify/Product/1",
        "title": "Vanilla Candle", "productType": "Candles", "status": "ACTIVE", "variants":
        {"edges": [{"node": {"id": "gid://shopify/ProductVariant/101", "sku": "CND-VAN-200",
        "title": "200g", "price": "14.00", "inventoryItem": {"id": "gid://shopify/InventoryItem/1101",
        "unitCost": {"amount": "4.20"}}}}, {"node": {"id": "gid://shopify/ProductVariant/102",
        "sku": "CND-VAN-400", "title": "400g", "price": "24.00", "inventoryItem":
        {"id": "gid://shopify/InventoryItem/1102", "unitCost": {"amount": "7.50"}}}}]}}},
        {"node": {"id": "gid://shopify/Product/2", "title": "Oud Oil 10ml", "productType":
        "Perfume Oils", "status": "ACTIVE", "variants": {"edges": [{"node": {"id":
        "gid://shopify/ProductVariant/201", "sku": "", "title": "Default Title", "price":
        "18.00", "inventoryItem": {"id": "gid://shopify/InventoryItem/1201", "unitCost":
        null}}}]}}}], "pageInfo": {"hasNextPage": true, "endCursor": "c1"}}}}'
[...]
